@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background: linear-gradient(to right, #7c75fd, #9ae5fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@layer base {
    body {
        @apply bg-primary text-white leading-loose
    }

    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold
    }
    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold
    }
    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold
    }

    .h4 {
        @apply text-[15px] xl:text-[20px] leading-[1.1] font-medium
    }

    .btncss {
        @apply px-[36px] py-[32px] rounded-lg
    }

    .outline {
        @apply border-2 border-white bg-transparent text-white hover:bg-gray-200 hover:text-primary
    }
    .text-outline {
        -webkit-text-stroke: 1px #ffffff;
    }
    
    .text-outline-hover {
        -webkit-text-stroke: 1px #00ff99;
    }
    
}

@layer utilities {

    .btn_dark_rounded {
        @apply border border-green-90 bg-green-90 px-7 py-3 text-white transition-all hover:bg-black rounded-full
    }

    .regular-14 {
        @apply text-[14px] font-[400]
    }

    .bold-18 {
        @apply text-[18px] font-[700]
    }
}
